/* Styles for move buttons */
.card-actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.action-button-move {
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-text);
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-button-move:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.4);
}

/* Color coding for move buttons */
.action-button-move.-to-pending {
  background-color: var(--color-quaternary);
  border-color: var(--color-quaternary);
  color: var(--color-text);
}
.action-button-move.-to-pending:hover {
  background-color: #008ac7; /* Darker quaternary */
  border-color: #008ac7;
  color: var(--color-text); /* Asegurar texto blanco */
}

.action-button-move.-to-progress {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-text);
}
.action-button-move.-to-progress:hover {
  background-color: #c7a300; /* Darker secondary */
  border-color: #c7a300;
  color: var(--color-text); /* Asegurar texto blanco */
}

.action-button-move.-to-resolved {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-color: var(--color-tertiary);
}
.action-button-move.-to-resolved:hover {
  background-color: #17c200; /* Darker tertiary */
  color: var(--color-text); /* Asegurar texto blanco */
  border-color: #17c200;
}

@media (max-width: 480px) {
  .action-button-move {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
  }
}
