.login-title {
  color: var(--color-status-in-progress);
  margin-bottom: 0.5rem; /* Reset margin-bottom */
  position: relative; /* Keep relative for positioning the arrow span */
  text-align: center; /* Center the content of h1 */
}

.login-mission-statement {
  display: block;
  margin-top: 1rem;
  color: var(--color-text);
  font-size: 1.2rem;
  /*font-family: 'Merriweather';*/
  font-weight: 300;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.login-form .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.login-form label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: #a9a9b3;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-text);
  font-family: var(--font-family);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #f3ca25;
  color: #1a1a2e;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login-button:hover {
  opacity: 0.9;
}

.login-error {
  color: var(--color-status-created);
  margin-bottom: 1rem;
}

.login-logo {
  height: 100px; /* Increased height */
  display: block;
  margin: 0 auto; /* Center the block element */
}
.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
  padding: 2rem;
}

.login-branding-container {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.login-form-container {
  flex: 1;
  max-width: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

/* Agregar una media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
  }
}