.login-title {
  color: var(--color-status-in-progress);
  margin-bottom: 0.5rem; /* Reset margin-bottom */
  position: relative; /* Keep relative for positioning the arrow span */
  text-align: center; /* Center the content of h1 */
}

.login-subtitle {
  display: block; /* Make it a block element */
  margin-top: 10px; /* Increased space between logo and text */
  color: var(--color-text); /* Or white, depending on preference */
  font-size: 4rem; /* Increased font size */
}

.login-form .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #a9a9b3;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-text);
  font-family: var(--font-family);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #f3ca25;
  color: #1a1a2e;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login-button:hover {
  opacity: 0.9;
}

.login-error {
  color: var(--color-status-created);
  margin-bottom: 1rem;
}

.login-logo {
  height: 100px; /* Increased height */
  display: block;
  margin: 0 auto; /* Center the block element */
}
