.view-switcher-container {
  display: flex;
  position: relative;
  background: rgba(35, 35, 50, 0.5); /* Fondo semi-transparente */
  border-radius: 30px;
  padding: 4px;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /* Efecto glass */
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
}

.switch-option {
  color: #a9a9b3;
  padding: 8px 20px;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  text-decoration: none; /* Asegurarse de que no haya subrayado */
}

.switch-option.active {
  color: #fff;
}

.switch-highlight {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  background: rgba(255, 255, 255, 0.15); /* Fondo ligeramente más claro para el highlight */
  border-radius: 30px;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.view-switcher-container[data-active-view="dashboard"] .switch-highlight {
  transform: translateX(100%);
}