.category-toolbar {
  display: flex;
  gap: 0.75rem;
}

.filter-button,
.sort-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: var(--color-text);
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button:hover,
.sort-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}